APP_NAME="DyDev APP"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Database Configuration
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=dy_app_db
DB_USERNAME=root
DB_PASSWORD=

# Session Configuration
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# Broadcasting & Filesystem
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

# Cache Configuration
CACHE_STORE=database
# CACHE_PREFIX=

# Memcached Configuration
MEMCACHED_HOST=127.0.0.1

# Redis Configuration
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Mail Configuration
MAIL_MAILER=smtp
# MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Support Mailer (Secondary)
MAIL_SUPPORT_MAILER=smtp
MAIL_SUPPORT_HOST=127.0.0.1
MAIL_SUPPORT_PORT=587
MAIL_SUPPORT_USERNAME=null
MAIL_SUPPORT_PASSWORD=null
MAIL_SUPPORT_ENCRYPTION=tls
MAIL_SUPPORT_FROM_ADDRESS="support@example.com"
MAIL_SUPPORT_FROM_NAME="DyDev Support"

# AWS Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# VITE Configuration
VITE_APP_NAME="${APP_NAME}"

# Social Authentication (OAuth) Configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=${APP_URL}/auth/github/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=${APP_URL}/auth/google/callback

# CA ROOT
CA_ROOT_COUNTRY_NAME="ID"
CA_ROOT_ORGANIZATION_NAME="DyDev TrustLab OpenSource" 
CA_ROOT_ORGANIZATIONAL_UNIT_NAME="www.dyzulk.com"
CA_ROOT_COMMON_NAME="DyzulkDev"

# CA INTERMEDIATE 4096
CA_4096_COUNTRY_NAME="ID"
CA_4096_ORGANIZATION_NAME="DyDev TrustLab" 
CA_4096_ORGANIZATIONAL_UNIT_NAME="www.dyzulk.com"
CA_4096_COMMON_NAME="DyDev Infinity CA1"

# CA INTERMEDIATE 2048
CA_2048_COUNTRY_NAME="ID"
CA_2048_ORGANIZATION_NAME="Twinpath TrustLab" 
CA_2048_ORGANIZATIONAL_UNIT_NAME="www.dyzulk.com"
CA_2048_COMMON_NAME="Twinpath Infinity CA2"

# CA LEAF DEFAULT
CA_LEAF_DEFAULT_COUNTRY_NAME="ID"
CA_LEAF_DEFAULT_LOCALITY="Jakarta"
CA_LEAF_DEFAULT_STATE="DKI Jakarta"
CA_LEAF_DEFAULT_ORGANIZATION_NAME="MyLab Secured"

# Reverb (WebSockets)
REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
